body {
    background-image: linear-gradient(rgba(242, 245, 247, 0.911), rgba(242, 245, 247, 0.911));
}

.two {
    border-radius: 50%;
}
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  } 
  
  /* .recipe-card {
    background: #fff;
    margin: 4em auto;
    width: 90%;
    max-width: 496px;
  } */

  .card {
    float: left; 
    width: 25%;
    padding: 0 10px;
  }

  .container {
    position: relative;

  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.banner {position: relative; width: 100%; margin: 0 auto;}
.heading {color: black; position: absolute; top: 40%; width: 80%; text-align: right; font-style: italic;}
.paragraph {color: black; position: absolute; top: 50%; width: 83%; text-align: right; font-style: italic;}

  