<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    ingredients
    <form action="/" method="POST">
        <input type="text" name="usersfood" placeholder=“tomato”>

    diet:
    <select class="form-select" id="userdietary" name="userdietary">
        <option selected style="text-align: center;">Dietary requirements</option>
        <option value="Balanced">Balanced</option>
        <option value="High-Fiber">High-Fiber</option>
        <option value="High-Protein">High-Protein</option>
        <option value="Low-carb">Low-carb</option>
        <option value="Low-fat">Low-fat</option>
        <option value="Low-sodium">Low-sodium</option>
      </select>

 
    Health:

    <select class="form-select" aria-label="Default select example" name="userhealth">
        <option selected style="text-align: center;">Allergies</option>
        <option value="Celery-free">Celery-free</option>
        <option value="Crustacean-free">Crustacean-free</option>
        <option value="Dairy-free">Dairy-free</option>
        <option value="Egg-free">Egg-free</option>
        <option value="Fish-free">Fish-free</option>
        <option value="Gluten-free">Gluten-free</option>
        <option value="Lupine-free">Lupine-free</option>
        <option value="Mustard-free">Mustard-free</option>
        <option value="Peanut-free">Peanut-free</option>
        <option value="Sesame-free">Sesame-free</option>
        <option value="Shellfish-free">Shellfish-free</option>
        <option value="Soy-free">Soy-free</option>
        <option value="Tree-Nut-free">Tree-Nut-free</option>
        <option value="Wheat-free">Wheat-free</option>
      </select>
    exclusion:
        <input type="text" name="userexclusion" placeholder=“sugar”>

        <input type='submit'>
    
    </form>

</body>
</html>