<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recipe finder</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<h1>Recipe results for {{ ingredient }}</h1>


<ul>
 {% for hit in hits %}   for loop to for all information in api dict
    <h3>{{ hit.recipe.label }}</h3>
<div class="images"></div>
        <img src="{{hit.recipe.image}}" class="align-self-center mr-3" alt="..." width="15%" height="15%"><br>
        Ingredients list:
        {% for ingredient in hit.recipe.ingredients %} <!-- for loop to for ingredient information -->
        <ul>{{ ingredient.text}}</ul>
        {% endfor %}
        Calorie count:
        <br><ul>{{ hit.recipe.calories|round}}</ul> <!-- to get calories -->
        Diet label:
        {% for item in hit.recipe.dietLabels %}
        <ul>{{item}}</ul> <!-- to get diet labels -->
        {% endfor %}
        Health label:
        {% for item in hit.recipe.healthLabels%}
        <ul>{{item}}</ul> <!-- to get diet labels -->
        {% endfor %}
        <!-- Total time:
        <ul>{{ hit.recipe.totalTime}}</ul> to get totalTime: currently showing 0 -->
        Nutrients: <!-- to get nutritional values (round is used to get the rounded number for quantity)-->
            <ul>{{hit.recipe.totalNutrients.ENERC_KCAL.label }} {{hit.recipe.totalNutrients.ENERC_KCAL.quantity|round }} {{hit.recipe.totalNutrients.ENERC_KCAL.unit }}</ul>
            <ul>{{hit.recipe.totalNutrients.FAT.label}} {{hit.recipe.totalNutrients.FAT.quantity|round}} {{hit.recipe.totalNutrients.FAT.unit}}</ul>
            <ul>{{hit.recipe.totalNutrients.SUGAR.label}} {{hit.recipe.totalNutrients.SUGAR.quantity|round}} {{hit.recipe.totalNutrients.SUGAR.unit}}</ul>
            <ul>{{hit.recipe.totalNutrients.PROCNT.label}} {{hit.recipe.totalNutrients.PROCNT.quantity|round}} {{hit.recipe.totalNutrients.PROCNT.unit}}</ul>
            <ul>{{hit.recipe.totalNutrients.VITC.label}} {{hit.recipe.totalNutrients.VITC.quantity|round}} {{hit.recipe.totalNutrients.VITC.unit}}</ul>
        link to recipe:
        <a href="{{hit.recipe.url}}" target="_blank">{{hit.recipe.url}} </a>
{% endfor %} 
<form action="/recipes/add"  target = '_blank'method="POST">
  Which recipe would you like to review:
  <input type="text" name="review" id="review">
  Please input your rating from 1 to 5:
  <input type="text" name="rating" id="rating" placeholder>
  <input type='submit'>
</form>
        </div>

 </ul>

</body>
</html>